<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
      <meta charset="UTF-8">
      <title>Your Company Home Page</title>
  </head>
  <body>
    <h2>Your Company Home Page</h2>
    <hr>

    <p>Welcome to Your Company Home Page!</p>
    <hr>

    <!-- display username and role(s) -->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>


  </body>
</html>